html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #D9D7D7;
    align-items: center;
}

table, th, td {
    border: 2px solid black;
}

th {
    font-size: 20px;
    background-color: #8C7B6C;
    height: 50;
    color: #fff;
}

td {
    font-size: 15px;
    height: 25;
}

.navigation {
    background-color: #BFADA3;
    width: 100%;
    height: 80px;
}

.button {
    background-color: #010D00D9; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    margin: 0 auto;
}

.header {
    text-align: center;
    color: #590202;
    text-decoration: underline;
}

.table {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 5;
}

.even-row {
    background-color: #B39E70;
}

.odd-row{
    background-color: #FFF1D4;
}
